<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <title>Pinglist</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.6/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body ng-app="pingutil">
<div class="container" style="margin-top: 30px" ng-controller="AppCtrl">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Hosts</div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>address</th>
                            <th>time</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in hosts">
                            <td>{{item.id}}</td>
                            <td>{{item.address}}</td>
                            <td>{{item.time}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="http://cdn.jsdelivr.net/webjars/org.webjars/angularjs/1.5.0/angular.js" th:href="@{/js/angular.min.js}"></script>
<script type="text/javascript" src="/js/main.js"></script>
<!--<script type="text/javascript" th:href="@{/js/main.js}"></script>-->
</body>
</html>